.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
}

.nav-bar span {
  font-size: 18px;
}

.nav-bar a,
.nav-bar input[type=submit] {
  color: white;
  border: none;
}

.nav-bar .menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}
